/* Specificity */

h2{
    color: red;
}
h2{
    color: purple;
}

.test{
    color: green;
}

.font-card-title {
    color: burlywood
}

#heading{
    color: yellow
}


/* 
    Hoe kan je de specificity uitrekenen? 
    De `<li>` blijft zwart want de selector `ul#web-technologies li` is specifieker dan de class selector `.favorite`. 
    De weight van de class selector is `0 0 1 0`, de weight van de gecombineerde selector is `0 1 0 2`. 10 < 102 ...
*/

ul#web-technologies li {
    font-weight: normal;
    font-size: 12px;
    color: black;
 }
 .favorite {
    color: red;
    font-weight: bold;
  }
